.container {
  text-align: center;
  margin-top: 5rem;
  color: #445566;
}

.header {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
}

.cardsContainer {
  text-align: start;
  margin: auto;
}

.card {
  max-width: 33%;
  padding: 10px;
  margin: 0 1rem;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 300ms ease all;
}

.card:hover {
  transform: scale(1.025);
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  border-radius: 5px;
}

.card * {
  display: block;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.noevents {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem;
  text-align: center;
}

.hr {
  margin: 1rem 5rem;
}

.events {
  width: 70vw;
  float: left;
  margin-bottom: 2rem;
  text-align: center;
}

.posts {
  float: right;
  text-align: center;
  max-width: calc(30vw - 2rem);
  margin-bottom: 2rem;
}

.post {
  padding: 0 2rem;
}

.link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
  color: #445566;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #e3e3e3;
  border-radius: 1rem;
}

.postTitle {
  margin-bottom: 0;
}

.date {
  opacity: 0.7;
}

@media (max-width: 640px) {
  .events {
    width: 100%;
    float: none;
  }

  .posts {
    float: none;
    max-width: none;
  }

  .post {
    width: 100%;
  }

  .card {
    min-width: calc(100% - 2rem);
    margin: 1rem;
  }
}