.container {
  text-align: center;
  padding-top: 10rem;
  color: #445566;
}

.header {
  font-size: 3rem;
}

.subtitle {
  margin-bottom: 2rem;
}

.cardsContainer {
  text-align: start;
  margin: auto;
  width: max-content;
}

.card {
}
